<main>
    <h1>Attach a new accessory</h1>
    <div class="form">
        <h2>{{cube.name}}</h2>
        <img class="cube" src="{{cube.imageUrl}}">
        {{#if hasAccessories}}
        <form method="POST">
            <label for="accessory">Accessories</label>
            <select id="accessory" name="accessory" />
                {{#each accessories}}
                    <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
            <input type="submit" value="Attach">
        </form>
        {{else}}
        <h3 class="italic">This cube has all available accessories so far or there is no available at all...
        </h3>
        {{/if}}
        <a class="btn" href="#">Back</a>
    </div>
</main>