<main>
  {{#with cube}}
    <h1>{{name}}</h1>
    <img class="cube" src="{{imageUrl}}" />
    <div class="details">
      <p><span>Description:</span>
        {{description}}</p>
      <p><span>Difficulty level:</span>{{difficultyLevel}}</p>
      <a class="btn" href="/">Back</a>
      <a class="btn" href="/cubes/{{_id}}/attach-accessory">Attach</a>

    </div>
    <h2>Accessories</h2>
    <div class="accessories">
      {{#each accessories}}
        <div class="accessory">
          <img src="{{imageUrl}}" alt="{{name}}" />
          <h3>{{name}}</h3>
          <p>{{description}}</p>
        </div>
      {{else}}
        <h3 class="italic">This cube has no accessories yet...</h3>
      {{/each}}
    </div>
  {{/with}}
</main>