<div class="card">

  <div class="top">
    <div class="userDetails">
      <a href="#" action="#" method="#">
        <div class="profilepic">
          <div class="profile_img">
            <div class="image">
              <img src="{{image}}" />
            </div>
          </div>
        </div>
      </a>
      <h3>
        <p>
          MayaB
        </p>
        <span>Bansko, Bulgaria</span>
      </h3>
    </div>
  </div>

  <div class="imgBx">
    <img src="{{image}}" alt="{{name}}" class="cover" />
  </div>
  <h5 class="petName">Name: {{name}}</h5>
  <h5 class="petAge">Age: {{age}}</h5>
  <a href="#" id="see-details">
    <h4 class="details">See details</h4>
  </a>
</div>