<main>
  <div class="container">
    <div class="col-9">

      <div class="card">
        <div class="top">

          <div class="userDetails">

            <div>
              <div class="profilepic">
                <div class="profile_img">
                  <div class="image">
                    <img src="/images/person.png" alt="img8" />
                  </div>
                </div>
              </div>
            </div>
            <h3>

              <p>
                {{photo.owner.username}}
              </p>
              <span>{{photo.location}}</span>
              {{#if isOwner}}
                <div class="edit-delete-btns">

                  <a href="/photos/{{photo._id}}/edit">
                    <img
                      class="edit-img"
                      src="/images/edit-pen-icon-6.jpg"
                      alt="edit button"
                    />
                  </a>

                  <a href="/photos/{{photo._id}}/delete">
                    <img
                      class="bin-img"
                      src="/images/icon-remove-22.jpg"
                      alt="bin button"
                    />
                  </a>
                </div>
              {{/if}}
            </h3>

          </div>

        </div>

        <div class="imgBx">
          <img src="{{photo.image}}" alt={{photo.name}} class="cover" />
        </div>

        <div class="bottom">

          <p class="message">
            <b class="petDescription">{{photo.description}}</b>
          </p>

          <div class="pet-details">
            <p class="petName">Name: {{photo.name}}</p>
            <p class="petAge">Age: {{photo.age}}</p>
          </div>
          <div class="comments">
            <div class="comments-top">
              <div class="userDetails">
                <div class="comment-data">
                  <div class="profilepic">
                    <div class="profile_img">
                      <div class="image">
                        <img src="/images/person.png" alt="img8" />
                      </div>
                    </div>
                  </div>

                  <p><b>StevIvanov</b>- OMG where can i get one</p>
                </div>
              </div>
              <div class="userDetails">
                <div class="comment-data">
                  <div class="profilepic">
                    <div class="profile_img">
                      <div class="image">
                        <img src="/images/person.png" alt="img8" />
                      </div>
                    </div>
                  </div>

                  <p><b>StevIvanov</b>- OMG where can i get one</p>
                </div>
              </div>

            </div>
          </div>
        </div>
        {{#if isAuthenticated}}
          {{#unless isOwner}}
            <div class="addComments">
              <form method="#" action="#">
                <textarea
                  id="comment-textarea"
                  name=""
                  cols="40"
                  rows="10"
                  placeholder="Add comment..."
                ></textarea>
                <button type="submit">Post</button>
              </form>
            </div>
          {{/unless}}
        {{/if}}
      </div>
    </div>
  </div>
</main>